{% extends 'base.html' %}
{% block title %}
About-us Page
{% endblock title %}
{% block style %}
<style>


</style>
{% endblock style %}

{% block body %}
<h2 style="text-align: center;"><span class="label label-info" style="border-style: solid; color:black">About Us</span>
</h2><br><br>
<div class="row">
    <div class="about col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <img src="https://i.pinimg.com/736x/fb/cb/87/fbcb87afd8198323cae2f34e38b8cbe6--renting-a-house-real-estate-investing.jpg"
            alt="Lamp" width="450" height="400">
    </div>
    <div class="content col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <p class="bg-info" style="font-size: 20px; ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
                praesentium, dicta
                distinctio assumenda natus sit, eos enim perspiciatis temporibus corrupti iure labore delectus
                earum, quisquam sint. Non quibusdam ullam unde aspernatur corporis cum. Quis, blanditiis excepturi.
                Eaque blanditiis ad maiores possimus sint dignissimos quasi fugiat distinctio quidem eligendi, vero
                sunt nulla labore tenetur temporibus harum necessitatibus voluptatem dolore modi iste quaerat!
                Pariatur, culpa. Doloribus qui porro quia ullam atque debitis in, voluptate repudiandae, id, quas
                provident dicta. Maxime, eius blanditiis! Sint quis nesciunt perferendis unde, dolore praesentium
                adipisci dolores, tempora molestias nisi vitae quaerat! Provident molestias maxime odio velit
                deserunt? Veniam ullam officia esse. Voluptate ea quae culpa ullam accusamus dolore similique
                minima, officiis, id commodi dolorem pariatur quo debitis rerum. Tenetur cum in perferendis eos
                consectetur? Velit at eum sint? Animi, ipsa! Temporibus quod asperiores, amet ducimus magni dolorum
                modi dignissimos atque laboriosam quis et quia, quasi perspiciatis totam corporis laudantium ab?
                Nisi voluptatem atque, suscipit expedita error ab assumenda. Facere vero, voluptas fugiat, dolore
                repellat blanditiis recusandae inventore sint, aliquam repudiandae error eveniet distinctio. Sed ut
                ab tenetur voluptatibus labore saepe provident corporis non laborum ipsa. Iste necessitatibus,
                repellendus ab quo nostrum natus recusandae voluptatibus libero quia incidunt!</p>

        </div>

</div>
</div>
{% endblock body %}