{% extends 'base.html' %}
{% block title %}
About-us Page
{% endblock title %}
{% block style %}
<style>
 body {
    background-image: url('/static/aboutus1.jpg');
 
  }
</style>
{% endblock style %}

{% block body %}
<h2 style="text-align: center;"><span class="label label-info" style="border-style: solid; color:black">About Us</span>
</h2><br><br>
<div class="row">
    <div class="about col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <img src="https://i.pinimg.com/736x/fb/cb/87/fbcb87afd8198323cae2f34e38b8cbe6--renting-a-house-real-estate-investing.jpg"
            alt="Lamp" width="450" height="400">
    </div>
    <div class="content col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <p class="bg-info" style="font-size: 28px; ">

            A system that provides a common platform for Potential tenants, they can use this website to search for houses
            within a particular area, and source information about all property-related issues.
        <ul class="bg-success" style="font-size: 25px; margin: 10px;">
            <li>
                Potential tenants can use this website
                to search for houses within a particular area.
            </li>
            <li>
                House owners are provided with an option to add property descriptions tagged with a location.
            </li>
            <li>
                users have a feature of home wish-list. they can make a list of their favorite home.
            </li>
            <li>
                Users can report on any house. If any house is not safe then users will also get a warning that this
                house is not safe.
            </li>
            <br>
            
        </ul>


        </p>

    </div>

</div>
</div>
{% endblock body %}