{% extends 'base.html' %}
{% block title %}
About-us Page
{% endblock title %}
{% block style %}
<style>


</style>
{% endblock style %}

{% block body %}
<div class="row">
    <div class="about col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div style="margin:30%   ;">
            <img src="https://i.pinimg.com/736x/fb/cb/87/fbcb87afd8198323cae2f34e38b8cbe6--renting-a-house-real-estate-investing.jpg"
                alt="Lamp" width="300" height="300">
        </div>
    </div>
    <div class="content col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div style="margin-top: 20%;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, nobis quidem. Placeat saepe
                consequuntur tenetur atque ad, officiis dolor accusantium delectus, debitis, sint libero quaerat
                doloremque nihil provident maiores voluptate corrupti inventore consectetur magnam distinctio. Totam
                autem quis maxime necessitatibus quos aspernatur iure omnis ipsa aliquam incidunt, dolore nulla odit
                sint exercitationem, sapiente in similique velit ipsum itaque quibusdam magnam repellendus vel cumque?
                Doloremque nam sequi, temporibus incidunt ex sapiente molestias sed unde omnis dolor blanditiis nisi id
                rem reiciendis. Maiores animi sint minus numquam! Laudantium facere ducimus architecto fugiat eligendi
                omnis corrupti, voluptate illo repellendus eius, quisquam nostrum soluta molestiae iure laborum ut nemo
                hic. Perspiciatis, fugit laboriosam tenetur, fuga, hic architecto maiores sapiente eos itaque aliquid
                corrupti consequuntur minus porro quam! Natus dignissimos eligendi aliquam ducimus, autem ab officia
                ipsum optio aliquid deserunt ipsam fugit iste excepturi, minima porro assumenda dolorum tempora
                voluptatem sint minus vitae? Consequuntur asperiores minima, corporis praesentium vero incidunt quos
                libero explicabo magni exercitationem illo nobis blanditiis atque voluptas accusantium sapiente aliquid
                perspiciatis eveniet. Quo sunt odio hic at dolore, earum consequatur voluptatum totam praesentium velit
                itaque iusto rem quaerat ratione nulla magni aliquid iste atque omnis! Harum, veniam labore voluptatibus
                minima culpa facilis!</p>
        </div>

    </div>
</div>
{% endblock body %}