{% extends 'base.html' %}
{% block style %}
<style>
  body {
    background-image: url('/static/homepage.jpg'); 
  }

  .card {
    width: 281px;
    background-color: #f0e4d7;
    border: 1px solid black;
    margin: auto;
  }

.search {
  width: 100%;
  position: relative;
  display: flex;
  margin-left: 15%;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 15px;
  font-size: 20px;
  height: 45px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 45px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 80%;
  left: 50%; 
} 
</style>

{% endblock style %}
{% block title %}
all_category
{% endblock title %}

{% block body %}

<div class="wrap">
  <div class="search">
     <input type="text" class="searchTerm" placeholder="Search for City, Address..." id="myinput" onkeyup="FilterHome(event)">
     <button class="searchButton">
       <i class="fa fa-search"></i>
    </button>
  </div>
</div>



<br>
{%if all_category_objects%}

<div class="row" id="display_search_home">
  {% for homeobject in all_category_objects %}
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card_object">
    <div class="card " style="text-align: center;">
      {% if homeobject.picture %}
      <img src="{{homeobject.picture.url}}" alt="No Image" style=" width:280px; height:260px;background-size:cover;">
      {% endif %}
      <h3 class="city_name">{{homeobject.city}}</h3>
      <h4 class="card_address">{{homeobject.address}}</h4>
      <b>
        <h4>Rent: {{homeobject.rent}}</h4>
      </b>
      {% if not user.is_staff%}
      {% if homeobject in request.user.extended_reverse.home_list.all %}
      <a href="/removewishlist/{{homeobject.id}}/">
        <p><button style="width:50%">remove to wishList</button></p>
      </a>
      {%else%}
      <a href="/addwishlist/{{homeobject.id}}/">
        <p><button style="width:50%">add to wishList</button></p>
      </a>
      {%endif%}
      {%endif%}
      <a href="/{{homeobject.id}}">
        <p><button style="width:50%">View</button></p>
      </a>
    </div>
    <br>
  </div>

  {% endfor %}

</div>
{%else%}
<h2 style="text-align: center;"><span class="label label-default">No Result Found...</span></h2><br><br>
{%endif%}

<script type="text/javascript">
  function FilterHome(event){
    //alert(event.target.value)
    url = `/filter_home/${event.target.value.length > 0 ? event.target.value : "null_value"}/`
    fetch(url,{method:"GET"}).then(
    (response) =>{
      return response.json()
    }
    ).then(
      (data) =>{
        var data_div = document.getElementById('display_search_home')
        data_div.innerHTML = ``
        var data_array = data.data
        for(var i = 0; i < data_array.length; i++){
          if (data_array[i].is_staff === false)
          {
            if ( data_array[i].in_user_wishlist === true){
              var button_card = ` 
                <a href="/removewishlist/${data_array[i].home_id}/">
                  <p><button style="width:50%">remove to wishList</button></p>
                </a>
              `
            }
            else{
                var button_card = `
                <a href="/addwishlist/${data_array[i].home_id}/">
                  <p><button style="width:50%">add to wishList</button></p>
                </a>
                `
            }
          }
          else{
            var button_card = `<div> </div>`
          }
            html_data_card = ` 
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card_object">
                <div class="card " style="text-align: center;">
                <img src="${data_array[i].home_image}" alt="No Image" style=" width:280px; height:260px;background-size:cover;">
                <h3 class="city_name">${data_array[i].city}</h3>
                <h4 class="card_address">${data_array[i].address}</h4>
                <b>
                  <h4>Rent: ${data_array[i].rent}</h4>
                </b>
                ${button_card}
                <a href="/${data_array[i].home_id}">
                  <p><button style="width:50%">View</button></p>
                </a>
                </div>
                <br/>
            </div>
          
            `
          data_div.innerHTML += html_data_card
        }
      }
    )
  }
  
  
  function searchfn() {

    let filter = document.getElementById('myinput').value.toUpperCase();
    console.log(filter);
    var val1 = document.getElementsByClassName("card_object");
    var val2 = document.getElementsByClassName("city_name");
    var val3 = document.getElementsByClassName("card_address");
    

    for (var i = 0; i < val2.length; i++) {
      let cityvalue = val2[i].textContent || val2[i].innerHTML;
      let addressvalue = val3[i].textContent || val3[i].innerHTML;

      if (cityvalue.toUpperCase().indexOf(filter) > -1 || addressvalue.toUpperCase().indexOf(filter) > -1) {
        val1[i].style.display = "";
      }
      else {
        val1[i].style.display = "none";
      }
    }
  }
</script>
{% endblock body %}