{% extends 'base.html' %}
{% block style %}
<style>
  body {
    background-image: url('https://t4.ftcdn.net/jpg/03/01/33/73/360_F_301337371_FYInUPUpOTAYqH1eFJ06PXQKukva7dvD.jpg');
  }

  .row {
    background-image: url('https://t4.ftcdn.net/jpg/03/01/33/73/360_F_301337371_FYInUPUpOTAYqH1eFJ06PXQKukva7dvD.jpg');
  }

  .card {
    width: 281px;
    background-color: #f0e4d7;

    border: 1px solid black;
    margin: auto;
  }
</style>

{% endblock style %}
{% block title %}
all_category
{% endblock title %}

{% block body %}

<br>
<div style="background-color:rgb(7, 7, 7); ">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <form class="form-inline" action="{% url 'home_app:category' %}" method="POST">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="text" name="city" placeholder="City Name..."
        style="width: 50%;margin-left:25%;">
      <button name="search" type="submit" style="width: 50%; margin-left:25%;">SORT HOUSES BY LOCATION</button>
    </form>
  </nav>
</div>

{%if all_category_objects%}

<div class="row">
  {% for homeobject in all_category_objects %}
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card" style="text-align: center;">
      {% if homeobject.picture %}
      <img src="{{homeobject.picture.url}}" alt="No Image" style=" width:280px; height:260px;background-size:cover;">
      {% endif %}
      <h3>City: {{homeobject.city}}</h3>
      <h4>address: {{homeobject.address}}</h4>
      <b>
        <h4>Rent: {{homeobject.rent}}</h4>
      </b>
      {% if not user.is_staff%}
      {% if homeobject in request.user.extended_reverse.home_list.all %}
      <a href="/removewishlist/{{homeobject.id}}/">
        <p><button style="width:50%">remove to wishList</button></p>
      </a>
      {%else%}
      <a href="/addwishlist/{{homeobject.id}}/">
        <p><button style="width:50%">add to wishList</button></p>
      </a>
      {%endif%}
      {%endif%}
      <a href="/{{homeobject.id}}">
        <p><button style="width:50%">View</button></p>
      </a>
    </div>
    <br>
  </div>

  {% endfor %}

</div>
{%else%}
<h3>You don't have any album</h3>
{%endif%}

{% endblock body %}