<!DOCTYPE html>
<html lang="en">

<head>
    <title>
    {% block title %}
    {% endblock title %}
    </title>
    {% block head %}

    {% endblock head %}

    {% load static %}
    {% block style %}
    {% endblock style %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0"
        nonce="cO7d80bO"></script>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/home/">Home</a></li>
                <li><a href="/wishlist/">Wishlist</a></li>
                <li><a href="/yourhome/">Your Home</a></li>
                <li><a href="/addhome/">Add Home</a></li>
                {% if user.is_staff %}
                <li><a href="/request/"> Request</a></li>
                {% endif %}
                <li><a href="/about/">About Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/profile/{{user.id}}/"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                <li><a href="/logout/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
    {% block body %}
    
    {% endblock body %}
</body>

</html>