{% extends 'base.html' %}
{% block title %}
  home_card
{% endblock title %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'homepic.css' %}"> 
{% endblock style %}
  
{% block body %}
  <div class="row">
    <div>
      {% if home_card.picture %}
      <img src="{{home_card.picture.url}}" alt="No Image" style="float: left; width:400x; height:400px;background-size:cover;">
      {% endif %}
    </div>
    <div>
      <h3>City: {{home_card.city}}</h3><br>
      <h4>address: {{home_card.address}}</h4><br>
      <b><h3>Rent: {{home_card.rent}}</h3></b><br>
      <h4>Contact Number: {{home_card.number}}</h4><br>
      <h5>description: {{home_card.description}} </h5><br>
      <!-- {% if homeobject in request.user.extended_reverse.home_list.all %}
      <a href="/removewishlist/{{home_card.id}}/"><p><button>remove to wishList</button></p></a>
      {%else%}
      <a href="/addwishlist/{{home_card.id}}/"><p><button>add to wishList</button></p></a>
      {%endif%} -->
    </div>
  </div>
  <div class="fb-comment-embed" data-href="http://127.0.0.1:8000/1/" data-include-parent="false" data-width=""></div>


    
    
{% endblock body %}