{% extends 'loginbase.html' %}
{% block title %}
login
{% endblock title %}
{% block form %}
    <form action="/login/" method="post">
		{% csrf_token %}
		<input class="text" type="text" name="username" id="user" placeholder="username" required="">
		<br>
		<input class="text" type="password" name="password" id="pass" placeholder="password" required=""><br>

		{% if message %}
		<h style="color: red;">{{message}}</h>
		{% endif %}<br><br>
		<a href="/forget"><u>forget password</u></a>
		<input type="submit" value="LOGIN" name="login">
	</form>
	<p>Don't have an Account? <a href="/signup/"> Sign Up Now!</a></p>
{% endblock form %}