{% extends 'base.html' %}
{% block title %}
profile_card
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  body {
    background-image: url('https://cdn.wallpapersafari.com/45/16/JALWY4.jpg');
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .title {
    color: grey;
    font-size: 18px;
  }

  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .abc {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  button:hover,
  a:hover {
    opacity: 0.7;
  }
</style>
{% endblock style %}

{% block body %}
<h2 style="text-align: center;"><span class="label label-info" style="border-style: solid; color:black">Profile</span></h2><br><br>

<div class="card" style="background-image: url('https://t4.ftcdn.net/jpg/03/01/33/73/360_F_301337371_FYInUPUpOTAYqH1eFJ06PXQKukva7dvD.jpg');">
  <img src="{{obj.image.url}}" alt="John" style="width:400px; height: 300px;">
  <h1>{{obj.name}}</h1>
  <h2>{{obj.email}}</h2>
  <p class="title">{{obj.phone_number}}</p>
  <div style="margin: 24px 0;" class="abc">
    <i class="fa fa-dribbble"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-linkedin"></i>
    <i class="fa fa-facebook"></i>
  </div>
  <p><a href="/editprofile/{{obj.id}}/"><button>Edit Profile</button></a></p>
</div>
{% endblock body %}