{% extends 'base.html' %}
{% block style %}
<style>
    body {
        background: url("/static/wishlist.jpg");
        height: 100vh;
        background-position: center;
        background-size: cover;
    }

    .card {
        width: 291px;
        background-color: #807bd1;
        border: 1px solid black;
        margin: auto;
    }
</style>

{% endblock style %}
{% block title %}
Reported-House
{% endblock title %}
{% block body %}

<div class="row">
    <h2 style="text-align: center;"><span class="label label-info" style="border-style: solid; color:black">Reported-House</span></h2><br><br> 
    {% if allhome %}
    {% for homeobject in allhome %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 abc">
        <div class="card" style="text-align: center;">
            {% if homeobject.picture %}
            <img src="{{homeobject.picture.url}}" alt="No Image"
                style=" width:290px; height:280px;background-size:cover;">
            {% endif %}
            <h3>City: {{homeobject.city}}</h3>
            <h4>address: {{homeobject.address}}</h4>
            <b>
                <h4>Rent: {{homeobject.rent}}</h4>
            </b>
            <a href="/reject/{{homeobject.id}}/"><p><button style="width: 80%;">Reject</button></p></a>
            <a href="/{{homeobject.id}}"><p><button style="width: 80%;">View</button></p></a>

        </div>
        <br>
    </div>
    {% endfor %}
    {%else%}
    <h3 style="margin: 5%;">You don't have any list</h3>
    {%endif%}
</div>
{% endblock body %}





