{% extends 'loginbase.html' %}
{% block title %}
set_password
{% endblock title %}
{% block form %}
	<form action="/set_password/" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<input class="text" type="password" name="password1" placeholder="New Password" required>
		<input class="text w3lpass" type="password" name="password2" placeholder="Confirm Password" required>
		{% if message %}
		<h style="color: red;">{{message}}</h>
		{% endif %}
		<input type="submit" value="SAVE" name="submit">
	</form>
{% endblock form %}