{% extends 'loginbase.html' %}
{% block title %}
SignUp Form
{% endblock title %}
{% block form %}
	<form action="/register/" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<input class="text" type="text" name="username" placeholder="Username" required><br>
		<input class="text" type="password" name="password1" placeholder="Password" required>
		<input class="text w3lpass" type="password" name="password2" placeholder="Confirm Password" required>
		<input class="text" type="email" name="email" placeholder="Email" required>
		{% if message %}
		<h style="color: red;">{{message}}</h>
		{% endif %}
		<input type="submit" value="SIGNUP" name="register">
	</form>
	<p> <a href="/"> Login Now!</a></p>
{% endblock form %}