{% extends 'base.html' %}
{% block style %}
<style>
    body {
    background-image: url('https://i.pinimg.com/originals/70/c1/94/70c194467b446c048562062282075684.jpg');
    height:110vh;
    overflow:hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
    .card {
        width: 291px;
        background-color: #807bd1;

        border: 1px solid black;
        margin: auto;
    }
    
</style>

{% endblock style %}
{% block title %}
wishlist
{% endblock title %}
{% block body %}
<div class="row">

    {% for homeobject in extend_user_object.home_list.all %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 abc">
        <div class="card" style="text-align: center;">
            {% if homeobject.picture %}
            <img src="{{homeobject.picture.url}}" alt="No Image"
                style=" width:290px; height:280px;background-size:cover;">
            {% endif %}
            <h3>City: {{homeobject.city}}</h3>
            <h4>address: {{homeobject.address}}</h4>
            <b>
                <h4>Rent: {{homeobject.rent}}</h4>
            </b>
            <a href="/{{homeobject.id}}">
                <p><button style="width:50%">View</button></p>
            </a>
        </div>
        <br>
    </div>

    {% endfor %}
</div>
{% endblock body %}